<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">  <![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
  <head>
    <!-- meta -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Sun Well Machinery - Manufacturer in Taiwan Specialized in Fully Customized Machineries for Paper Tubes and Other Paper Related Products</title>

    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/ionicons.min.css">
    <link rel="stylesheet" href="/assets/owl.carousel.css">
    <link rel="stylesheet" href="/assets/owl.theme.css">
      <link rel="stylesheet" href="/assets/main.css">
      <link rel="stylesheet" href="/assets/about.css">
      <link rel="stylesheet" href="/assets/contact.css">
      <link rel="stylesheet" href="/assets/service.css">
      <link rel="stylesheet" href="/assets/one-page-style.css">
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.js"></script>
      <![endif]-->

      <!--[if IE 8]>
          <script src="assets/js/selectivizr.js"></script>
        <![endif]-->
  </head>
<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1">

<!-- Home -->
  <section class="header" id="header">

    <nav class="navbar navbar-default" id="navigation-bar">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.sun-well.com.tw/"><b>Sun Well</b></a>
        </div> <!-- /.navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://www.sun-well.com.tw/"><b>home</b></a></li>
            <li><a href="#about"><b>about us</b></a></li>
            <!-- <li><a href="#service">services</a></li> -->
            <li><a href="#portfolio"><b>products</b></a></li>
            <li><a href="#contact"><b>contact</b></a></li>
          </ul> <!-- /.nav -->
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
    <div class="container">
      <div class="header-table">
        <div class="header-wrapper">
          <h1 class="header-title">
            <b>Paper Machinery Experts</b>
          </h1>
          <p class="header-subtitle">
            <b>since 1991</b>
          </p>
        </div> <!-- /.header-wrapper -->
      </div>
    </div> <!-- /.container -->
  </section> <!-- /#header -->


<!-- About Us -->
  <section class="about" id="about">
    <div class="container section-wrapper">
      <h2 class="section-title black">
        about us
      </h2> <!-- /.section-title -->
      <div class="underline purple"></div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <img src="/assets/about-1.png" alt="Sun Well" class="about-img">
        </div> <!-- /.col-md-3 -->
        <div class="col-md-3 col-sm-6">
          <img src="/assets/about-2.png" alt="Paper Tubes" class="about-img">
        </div> <!-- /.col-md-3 -->

        <div class="col-md-6 col-sm-12">
          <p class="about-detail">
            <b>Sun Well Machinery Co., Ltd.</b> is a Taiwanese engineering and manufacturing firm specialized in industrial machineries to produce various paper made products including composite cans, paper cores, paper tubes, fiber drums, honeycombs and so on. With our fully customized, patented and made in Taiwan products, we have been continuously providing superior values such as robustness, cost effectiveness and user friendliness throughout the globe. Not only do we serve East Asian customers from Taiwan, Japan, Korea, ASEAN countries, etc., we are also amply experienced with users in Europe, South Asia, Middle East, Africa and North/South Americas. Sun Well believe our team and your precious support will bring the utmost value to the industry.
          </p> <!-- /.about-detail -->
        </div> <!-- /.col-md-6 -->

      </div> <!-- /.row -->

      <div class="row">

        <div class="col-sm-4">
          <h3 class="section-item-title">
            Wide Application
          </h3>
          <p class="section-item-detail">
            Our technology realizes broad application covering slitting, winding, laballing, cutting, seaming, dilating, bending, polishing, skiving and other finishing process.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 class="section-item-title">
            Fully Customized
          </h3>
          <p class="section-item-detail">
            Depending on your requirement and necesities, we provide full customization upon width, thickness, diameters, grammage, production capacity and others.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 class="section-item-title">
            Cost Effectiveness
          </h3>
          <p class="section-item-detail">
            Feedback from our long term customers has proven our machines' maximized performance and lifetime with minimized cost compared to other brands in the market.
          </p>
        </div>
      </div> <!-- /.row -->

    </div> <!-- /.container -->
  </section> <!-- /.about -->

<!-- Note -->
  <section class="note purple">
    <div class="container section-wrapper text-center">
      <p class="quote">
        <b>We grow up together & make life better</b>
      </p> <!-- /.quote -->
      <!-- <div class="quoter">Larry Lai, President</div> -->
    </div> <!-- /.container -->
  </section> <!-- /.note -->

<!-- Portfolio -->
  <section class="portfolio" id="portfolio">
    <div class="container section-wrapper">
      <h2 class="section-title black">
        products
      </h2> <!-- /.section-title -->
      <div class="underline purple"></div>
      <div class="row">
        <div class="col-sm-4 col-xs-6">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="/assets/port-1.png" alt="port-1" class="port-item">
              <div class="portfolio-img-hover">
                <a><img src="/assets/plus.png" alt="plus" class="plus"></a>
              </div> <!-- /.portfolio-img-hover -->
            </div> <!-- /.portfolio-img -->
            <div class="portfolio-item-details">
              <div class="portfolio-item-name">
                Olivera Note <br><small>Fashion</small>
              </div> <!-- /.portfolio-item-name -->
            </div> <!-- /.portfolio-item-details -->
          </div> <!-- /.portfolio-item -->
        </div> <!-- /.col-md-4 -->
        <div class="col-sm-4 col-xs-6">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="/assets/port-2.png" alt="port-2" class="port-item">
              <div class="portfolio-img-hover">
                <a><img src="/assets/plus.png" alt="plus" class="plus"></a>
              </div> <!-- /.portfolio-img-hover -->
            </div> <!-- /.portfolio-img -->
            <div class="portfolio-item-details">
              <div class="portfolio-item-name">
                Shift Magazine <br><small>Photography</small>
              </div> <!-- /.portfolio-item-name -->
            </div> <!-- /.portfolio-item-details -->
          </div> <!-- /.portfolio-item -->
        </div> <!-- /.col-md-4 -->
        <div class="col-sm-4 col-xs-6">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="/assets/port-3.png" alt="port-3" class="port-item">
              <div class="portfolio-img-hover">
                <a><img src="/assets/plus.png" alt="plus" class="plus"></a>
              </div> <!-- /.portfolio-img-hover -->
            </div> <!-- /.portfolio-img -->
            <div class="portfolio-item-details">
              <div class="portfolio-item-name">
                Camp Pine Tree <br><small>Web Design</small>
              </div> <!-- /.portfolio-item-name -->
            </div> <!-- /.portfolio-item-details -->
          </div> <!-- /.portfolio-item -->
        </div> <!-- /.col-md-4 -->
        <div class="col-sm-4 col-xs-6">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="/assets/port-4.png" alt="port-4" class="port-item">
              <div class="portfolio-img-hover">
                <a><img src="/assets/plus.png" alt="plus" class="plus"></a>
              </div> <!-- /.portfolio-img-hover -->
            </div> <!-- /.portfolio-img -->
            <div class="portfolio-item-details">
              <div class="portfolio-item-name">
                Freeart App Design <br><small>Photography</small>
              </div> <!-- /.portfolio-item-name -->
            </div> <!-- /.portfolio-item-details -->
          </div> <!-- /.portfolio-item -->
        </div> <!-- /.col-md-4 -->
        <div class="col-sm-4 col-xs-6">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="/assets/port-5.png" alt="port-5" class="port-item">
              <div class="portfolio-img-hover">
                <a><img src="/assets/plus.png" alt="plus" class="plus"></a>
              </div> <!-- /.portfolio-img-hover -->
            </div> <!-- /.portfolio-img -->
            <div class="portfolio-item-details">
              <div class="portfolio-item-name">
                Large Poster Set <br><small>Marketing</small>
              </div> <!-- /.portfolio-item-name -->
            </div> <!-- /.portfolio-item-details -->
          </div> <!-- /.portfolio-item -->
        </div> <!-- /.col-md-4 -->
        <div class="col-sm-4 col-xs-6">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="/assets/port-6.png" alt="port-6" class="port-item">
              <div class="portfolio-img-hover">
                <a><img src="/assets/plus.png" alt="plus" class="plus"></a>
              </div> <!-- /.portfolio-img-hover -->
            </div> <!-- /.portfolio-img -->
            <div class="portfolio-item-details">
              <div class="portfolio-item-name">
                Skilet Album Cover <br><small>Business</small>
              </div> <!-- /.portfolio-item-name -->
            </div> <!-- /.portfolio-item-details -->
          </div> <!-- /.portfolio-item -->
        </div> <!-- /.col-md-4 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </section> <!-- /.portfolio -->

<!-- Our Team -->
  <section class="team">
    <div class="container section-wrapper">
      <h2 class="section-title black">
        Applications
      </h2> <!-- /.section-title -->
      <div class="underline purple"></div>
      <div class="row">
        <div class="col-sm-3 col-xs-6">
          <div class="team-item">
            <img src="/assets/team-1.png" alt="team-image" class="team-img">
            <h4 class="team-item-name">
              David Martin
            </h4>
            <p class="team-item-id">
              founder
            </p>
          </div> <!-- /.team-item -->
        </div> <!-- /.col-md-3 -->

        <div class="col-sm-3 col-xs-6">
          <div class="team-item">
            <img src="/assets/team-2.png" alt="team-image" class="team-img">
            <h4 class="team-item-name">
              Reena Scot
            </h4>
            <p class="team-item-id">
              founder
            </p>
          </div> <!-- /.team-item -->
        </div> <!-- /.col-md-3 -->
        <div class="col-sm-3 col-xs-6">
          <div class="team-item">
            <img src="/assets/team-3.png" alt="team-image" class="team-img">
            <h4 class="team-item-name">
              Paul Smith
            </h4>
            <p class="team-item-id">
              founder
            </p>
          </div> <!-- /.team-item -->
        </div> <!-- /.col-md-3 -->
        <div class="col-sm-3 col-xs-6">
          <div class="team-item">
            <img src="/assets/team-4.png" alt="team-image" class="team-img">
            <h4 class="team-item-name">
              Jeneflr White
            </h4>
            <p class="team-item-id">
              founder
            </p>
          </div> <!-- /.team-item -->
        </div> <!-- /.col-md-3 -->
        <div class="col-sm-3 col-xs-6">
          <div class="team-item">
            <img src="/assets/team-5.png" alt="team-image" class="team-img">
            <h4 class="team-item-name">
              David Martin
            </h4>
            <p class="team-item-id">
              founder
            </p>
          </div> <!-- /.team-item -->
        </div> <!-- /.col-md-3 -->
        <div class="col-sm-3 col-xs-6">
          <div class="team-item">
            <img src="/assets/team-6.png" alt="team-image" class="team-img">
            <h4 class="team-item-name">
              Reena Scot
            </h4>
            <p class="team-item-id">
              founder
            </p>
          </div> <!-- /.team-item -->
        </div> <!-- /.col-md-3 -->
        <div class="col-sm-3 col-xs-6">
          <div class="team-item">
            <img src="/assets/team-7.png" alt="team-image" class="team-img">
            <h4 class="team-item-name">
              Paul Smith
            </h4>
            <p class="team-item-id">
              founder
            </p>
          </div> <!-- /.team-item -->
        </div> <!-- /.col-md-3 -->
        <div class="col-sm-3 col-xs-6">
          <div class="team-item">
            <img src="/assets/team-8.png" alt="team-image" class="team-img">
            <h4 class="team-item-name">
              Jeneflr White
            </h4>
            <p class="team-item-id">
              founder
            </p>
          </div> <!-- /.team-item -->
        </div> <!-- /.col-md-3 -->
        
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </section> <!-- /.team -->

<!-- Price Table -->
<!--   <section class="price-table">
    <div class="container section-wrapper">
      <h2 class="section-title black">
        Specifications
      </h2> --> <!-- /.section-title -->
<!--       <div class="underline purple"></div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

          <div class="row">
            <div class="col-sm-3">
              <div class="price-title">
                Standard <br>
                <span>$/Month</span>
              </div>
              <ul class="price-list">
                <li>5 Products</li>
                <li>20 Pages Galleries</li>
                <li>500 GB Bandwidth</li>
                <li>Developer Platform</li>
                <li>Mobile Website and Store</li>
                <li>Custom Domain Free</li>
                <li>24/7 Customer Support</li>
                <li class="text-center">
                  <button class="btn btn-default custom-btn-default">
                    Get Started Now
                  </button>
                </li>
              </ul>
            </div>

            <div class="col-sm-3">
              <div class="price-title">
                Standard <br>
                <span>$/Month</span>
              </div>
              <ul class="price-list">
                <li>5 Products</li>
                <li>20 Pages Galleries</li>
                <li>500 GB Bandwidth</li>
                <li>Developer Platform</li>
                <li>Mobile Website and Store</li>
                <li>Custom Domain Free</li>
                <li>24/7 Customer Support</li>
                <li class="text-center">
                  <button class="btn btn-default custom-btn-default">
                    Get Started Now
                  </button>
                </li>
              </ul>
            </div>

            <div class="col-sm-3">
              <div class="price-title">
                Standard <br>
                <span>$/Month</span>
              </div>
              <ul class="price-list">
                <li>5 Products</li>
                <li>20 Pages Galleries</li>
                <li>500 GB Bandwidth</li>
                <li>Developer Platform</li>
                <li>Mobile Website and Store</li>
                <li>Custom Domain Free</li>
                <li>24/7 Customer Support</li>
                <li class="text-center">
                  <button class="btn btn-default custom-btn-default">
                    Get Started Now
                  </button>
                </li>
              </ul>
            </div>

            <div class="col-sm-3">
              <div class="price-title">
                Standard <br>
                <span>$/Month</span>
              </div>
              <ul class="price-list">
                <li>5 Products</li>
                <li>20 Pages Galleries</li>
                <li>500 GB Bandwidth</li>
                <li>Developer Platform</li>
                <li>Mobile Website and Store</li>
                <li>Custom Domain Free</li>
                <li>24/7 Customer Support</li>
                <li class="text-center">
                  <button class="btn btn-default custom-btn-default">
                    Get Started Now
                  </button>
                </li>
              </ul>
            </div>
          </div> --> <!-- /.row -->

<!--         </div>
      </div> --> <!-- /.row -->
<!--     </div>  --><!-- /.container -->
<!--   </section> --> <!-- /.price-table -->


<!-- Testimonial -->
<!--   <section class="testimonial">
    <div class="container section-wrapper">
      <div class="section-title">
        testmonials
      </div> --> <!-- /.section-title -->
<!--       <div class="underline white"></div>
      <div class="owl-carousel testimonial-owl">
        <div class="item">
          <p class="testimonial-detail">
            The Department of Computer Science and Engineering, Islamic University of Technology(IUT), is one of the 
          </p>
          <div class="test-name">
            <strong>Mohoshin Ahmed</strong> <br>
            ROX THEME
          </div>
        </div> --> <!-- /.item -->
<!--         <div class="item">
          <p class="testimonial-detail">
            The Department of Computer Science and Engineering, Islamic University of Technology(IUT), is one of the 
          </p>
          <div class="test-name">
            <strong>Mohoshin Ahmed</strong> <br>
            ROX THEME
          </div>
        </div> --> <!-- /.item -->
<!--         <div class="item">
          <p class="testimonial-detail">
            The Department of Computer Science and Engineering, Islamic University of Technology(IUT), is one of the 
          </p>
          <div class="test-name">
            <strong>Mohoshin Ahmed</strong> <br>
            ROX THEME
          </div>
        </div> --> <!-- /.item -->
 <!--      </div> --> <!-- /.owl-carousel -->
<!--     </div> --> <!-- /.container -->
<!--   </section> --> <!-- /.testimonial -->


<!-- Add -->
  <section class="section-wrapper add container">
    <h2 class="section-title black">
      Customers
    </h2>
    <div class="underline purple"></div>
    <div class="owl-carousel add-owl">
        <div class="item">
          <img src="/assets/add-1.png" alt="Corenso" class="add-item">
        </div> <!-- /.item -->
        <div class="item">
          <img src="/assets/add-2.png" alt="SONOCO" class="add-item">
        </div> <!-- /.item -->
        <div class="item">
          <img src="/assets/add-3.png" alt="SHOWA" class="add-item">
        </div> <!-- /.item -->
        <div class="item">
          <img src="/assets/add-4.png" alt="Cellopack" class="add-item">
        </div> <!-- /.item -->
        <div class="item">
          <img src="/assets/add-5.png" alt="Dan D Pak" class="add-item">
        </div> <!-- /.item -->
        <div class="item">
          <img src="/assets/add-6.png" alt="PT Kreasi Kemasan Komposit" class="add-item">
        </div> <!-- /.item -->
        <div class="item">
          <img src="/assets/add-7.jpg" alt="APP" class="add-item">
        </div> <!-- /.item -->
        <div class="item">
          <img src="/assets/add-8.png" alt="AMINDO" class="add-item">
        </div> <!-- /.item -->
      </div> <!-- /.owl-carousel -->
  </section>

<!-- Contact with us -->
  <section class="contact section-wrapper" id="contact">
    <h2 class="section-title black">
      Contacts
    </h2>
    <div class="underline purple"></div>
    <div class="container">
      <!-- <div class="row"> -->
              <div class="col-md-3 contact-item col-sm-6 col-xs-12">
                  <i class="ion-location"></i>
                  <h3>Address</h3>
                  <p class="contact">
                      #22, Lane 62, Gong 5th Road,<br>
                      Longtan Dist., Taoyuan, Taiwan
                  </p>
              </div>
              <div class="col-md-3 contact-item col-sm-6 col-xs-12">
                  <i class="ion-ios-telephone"></i>
                  <h3>Phone</h3>
                  <p class="contact">
                      Head Office: +886-3-4700868<br>
                  </p>
              </div>
              <div class="col-md-3 contact-item col-sm-6 col-xs-12">
                  <i class="ion-printer"></i>
                  <h3>Fax</h3>
                  <p class="contact">
                      Head Office: +886-3-4700866<br>
                  </p>
              </div>
              <div class="col-md-3 contact-item col-sm-6 col-xs-12">
                  <i class="ion-ios-email"></i>
                  <h3>Email Address</h3>
                  <p class="contact">
                      <a href="mailto:sunwellv@ms32.hinet.net">sunwellv@ms32.hinet.net</a><br>
                  </p>
              </div>


<!--           </div> --> <!-- /.row -->
<!--           <form class="row form">
                <h3>Leave A Message</h3>
                <div class="col-sm-4 col-xs-12 form-group">
                    <label class="sr-only">Name</label>
                    <input name="name" class="form-control" type="text" placeholder="First Name">
                </div> --> <!-- /.form-group -->
<!--                 <div class="col-sm-4 col-xs-12 form-group">
                    <label class="sr-only">Email</label>
                    <input name="email" class="form-control" type="email" placeholder="Email address">
                </div> --> <!-- /.form-group -->
<!--                 <div class="col-sm-4 col-xs-12 form-group">
                    <label class="sr-only">Website</label>
                    <input name="website" class="form-control" type="text" placeholder="Your website">
                </div> --> <!-- /.form-group -->
<!--                 <div class="row">
                    <div class="col-md-12 col-xs-12 form-group">
                        <label class="sr-only">Message</label>
                        <textarea class="message form-control" placeholder="Write message"></textarea>
                    </div> --> <!-- /.form-group -->
<!--                     <input class="btn btn-sub" type="submit" value="Send Message">
                </div>
            </form> --> <!-- /.row -->
    </div><!-- /.container -->
  </section> <!-- /.contact -->


<!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="copy">
            Copyright &copy; 2018 <a href="http://www.sun-well.com.tw/">Sun Well Machinery Co., Ltd.</a>
          </div>
        </div>
        <div class="col-sm-4 text-center">
<!--           <div class="social-icon">
            <a href="#">
              <div class="icon fb">
                <i class="ion-social-facebook"></i>
              </div>
            </a>
            <a href="#">
              <div class="icon twitter">
                <i class="ion-social-twitter"></i>
              </div>
            </a>
            <a href="#">
              <div class="icon google">
                <i class="ion-social-googleplus"></i>
              </div>
            </a>
            <a href="#">
              <div class="icon rss">
                <i class="ion-social-rss"></i>
              </div>
            </a>
          </div>     -->
        </div>
        <div class="col-sm-4 text-right">
          <div class="copy">
            Theme by <a href="http://www.themewagon.com" target="_blank">themewagon.com</a>. All Rights Reserved
          </div>
        </div>
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </footer>

  <script src="/assets/jquery-1.11.2.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/owl.carousel.min.js"></script>
    <script src="/assets/contact.js"></script>
  <script src="/assets/script.js"></script>

</body>
</html>